.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.MemberList {
  color: #707070;
  max-width: 50%;
  align-self: center;
}
.MemberList h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: normal;
}
.filters {
  color: #FFFFFF;
}
.selectBox {
  display: inline-block;
}
.MemberStatusBox {
  display: inline-flex;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  border: 1px solid #707070;
  border-radius: 2px;
  width: 308px;
  height: 60px;
  max-width: 308px;
  max-height: 60px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.statusBoxIcon {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
}
.statusBoxIcon--active {
  background-color: #3DB330;
}
.statusBoxIcon--away {
  background-color: #EC7B12;
}
.statusBoxIcon--inactive {
  background-color: #9D9D9D;
}
.statusBoxContent{
  text-align: left;
  display: inline-block;
  width: 90%;
  margin-left: 10px;
}
.statusBoxStatus {
  font-style: italic;
}